body {
  background: url("https://www.desktop-background.com/download/1366x768/2014/10/14/839980_game-of-thrones-wallpapers_1920x1080_h.jpg");
  background-size: auto;
  overflow: scroll;
}

button {
  /* display: inline-block; */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  height: 50px;
  width: 100px;
  margin: 0 auto;
  border-color: gold;
  border-radius: 10px;
  font-family: fantasy;
  padding-top: 5px;
  font-weight: bold;
  font-size: 14px;
}

button:hover {
  background-color: darkred;
  border-color:
}

h1 {
  font-size: 60px;
  font-family: fantasy;
  color: gold;
  text-align: center;
}

footer {
  margin: 0 auto;
  margin-top: 360px;
  /* position: fixed;
  bottom: 0px; */
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

a {
  text-decoration: none;
  color: gold;
  font-family: fantasy;
  font-size: 16px;
  padding: 10px;
  font-weight: bold;
  margin-right: 30px;
}

img {
  width: 100%;
  height: 83%;
  display: none;
}

img:first-of-type {
  display: block;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.wrapper {
  display: flex;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  justify-content: center;
}

.lord-of {
  text-align: center;
  font-family: fantasy;
  font-size: 36px;
  color: gold;
  font-weight: bold;
  margin: 20px;
  margin-top: 50px;
}

.modal {
  width: 450px;
  height: 450px;
  color: rgba(255, 180, 30, 0.5);
  z-index: 1;
  background-color: grey;
  display: none;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .5);
  margin: 0 auto;
}

.member {
  width: 100px;
  height: 50px;
  margin: 0 auto;
  background: url("https://cdn.pixabay.com/photo/2018/03/14/08/56/paper-3224651__340.jpg");
  font-family: fantasy;
  font-size: 14px;
  font-weight: bold;
  color: black;
}
.member:hover {
  border-color: darkred;
  background: url("");
  background-color: grey;
}

.close {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  color: grey;
  font-size: 15px;
  float: right;
}

.prevnext {
  width: 50px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.8);
  color: grey;
  font-size: 18px;
  float: right;
}

@media (max-width: 900px){
  body {
    background: black;
  }
  h1 {
    color: gold;
  }
  .lord-of {
    color: gold;
  }
}
